/*
* Override Pages default styles or create your own styles here
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Black:regular,regular|Archivo:regular,regular,700|Montserrat:regular,regular&display=swap&ver=3.9");
body {
  color: #333;
  font-size: .9em;
  font-weight: normal;
}
h1, h2, h3 {
  font-family: "Archivo Black", "Archivo", "Montserrat", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
}
h4, h5, h6 {
  font-family: "Archivo", "Montserrat", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.tagline {
  font-size: 16px;
  font-weight: bolder;
  font-family: "Montserrat", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
}
label {
  font-size: 12px;
}
body, ins, cite, var, q, address, kbd, label, .btn, .badge, .form-control,
.datepicker thead tr .dow, .datepicker table tr td.day,
div.cs-skin-slide, .line-chart .nvd3 .nv-axis .nv-axisMaxMin text,
.social-card.share .card-header h5,
.social-card.share .card-header h6,
.social-card.share .card-description .via,
.social-card.share .card-footer .time,
.split-view .split-details .email-content-wrapper .email-content .email-content-header .sender .datetime,
.split-view .split-details .email-content-wrapper .email-content .email-content-header .subject,
.calendar .calendar-header .years .year,
.split-view .split-list .list-view-group-header,
.split-view .split-list .item .inline > *,
.split-view .split-list .item .subject,
.split-view .split-list .item .datetime,
.horizontal-app-menu .menu-bar ul li a,
.header .search-link,
.page-sidebar .sidebar-menu .menu-items > li > a,
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a,
.icon-thumbnail, .form-group-default {
  font-family: "Montserrat", "Archivo", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
}
.form-control::-moz-placeholder { font-family: "Montserrat", "Archivo", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::-ms-input-placeholder { font-family: "Montserrat", "Archivo", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::-webkit-input-placeholder { font-family: "Montserrat", "Archivo", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::placeholder { font-family: "Montserrat", "Archivo", "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }

a,
a:focus,
a:hover,
a:active,
.text-info {
  color: #196a87 !important;
}
a.text-white {
  color: #fff !important;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: #196a87 !important;
  border: none !important;
  color: #fff;
  font-weight: bold;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #196a87;
}
.btn-primary .badge {
  color: #196a87;
}
.btn-outline-primary, .btn-outline-primary:focus {
  color: #196a87;
  border: 1px solid #196a87;
}
.btn-outline-primary.active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary.active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:hover,
.btn-outline-primary .show .dropdown-toggle.btn-outline-primary {
  border: 1px solid #196a87;
  color: #196a87;
}
.btn-outline-primary.hover:not(.active), .btn-outline-primary:hover:not(.active),
.btn-outline-primary .show .dropdown-toggle.btn-outline-primary {
  border: 1px solid #196a87;
  color: #196a87;
}
.dropdown-default.show > .btn-primary + .dropdown-menu:after {
  background-color: #196a87;
}
.progress-bar-primary {
  background-color: #196a87;
}
.progress-circle.progress-circle-primary .pie .half-circle {
  border-color: #196a87;
}
.nav-tabs-simple > li > a:after.nav-tabs-primary {
  background-color: #196a87;
}
.nav-tabs-fillup > li > a:after.nav-tabs-primary {
  background: none repeat scroll 0 0 #196a87;
  border: 1px solid #196a87;
}
.irs-wrapper.primary .irs-diapason {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-from,
.irs-wrapper.primary .irs-to,
.irs-wrapper.primary .irs-single {
  background: #196a87;
}

.irs-wrapper.primary .irs-slider.from:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-slider.to:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-slider.single:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-from:after,
.irs-wrapper.primary .irs-to:after,
.irs-wrapper.primary .irs-single:after {
  border-top-color: #196a87;
}

.irs-wrapper.primary .irs-bar {
  background-color: #196a87;
}
.noUi-target.bg-primary .noUi-connect {
  background-color: #196a87;
}
.primary input[type="checkbox"]:checked + label:before, .primary input[type="checkbox"]:indeterminate + label:before {
  border-color: #196a87;
  background-color: #196a87;
}
.primary input[type="radio"]:checked + label:before {
  border-color: #196a87;
}
.form-check.switch input[type="checkbox"] + label:before {
  background-image: -webkit-linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
  background-image: -moz-linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
  background-image: linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}
.input-group-text.primary {
  background-color: #196a87;
}

.form-group-default.disabled.focused {
  border: 1px solid #196a87;
}
.form-group-default.focused {
  border: 1px solid #196a87 !important;
}
.form-group-default label {
  font-weight: bold;
  color: #196a87 !important;
}
.form-group-default label.fade {
  opacity: 1;
}
.form-group-default.focused label {
  font-size: 10px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single {
  height: 50px;
}
.form-group label:not(.error) {
  color: #888;
}
.datepicker thead tr .next,
.datepicker thead tr .prev {
  color: #196a87;
}
.datepicker thead tr .next:before,
.datepicker thead tr .prev:before {
  color: #196a87;
}
.datepicker table tr td.active:before {
  background-color: #196a87;
}
.datepicker table tr td span.active {
  background-color: #196a87 !important;
}
.daterangepicker .calendar .prev,
.daterangepicker .calendar .next,
.daterangepicker .calendar th {
  color: #196a87;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #196a87;
  border-color: #196a87;
}
.select2-container--open .select2-selection {
  border: 1px solid #196a87 !important;
}
.line-chart[data-line-color="primary"] .nvd3 line.nv-guideline, .line-chart[data-line-color="primary"]
.nvd3 .nv-groups path.nv-line, .line-chart[data-line-color="primary"]
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  stroke: #196a87;
}
.line-chart[data-area-color="primary"] .nvd3 .nv-groups path.nv-area {
  fill: #196a87;
}
.line-chart[data-point-color="primary"] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill: #196a87;
}
.login-wrapper {
  background-color: #196a87;
  background-image: url(../img/carton-background.jpg);
  background-position: -285px 60%;
}
.timeline-point.primary {
  background-color: #196a87;
}
.b-primary {
  border-color: #196a87;
}
.margin-center {
  margin: 0 auto;
  display: block;
}

.pace .pace-progress {
  background: #196a87;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #196a87, 0 0 5px #196a87;
}

.pace .pace-activity {
  border-top-color: #196a87;
  border-left-color: #196a87;
  display: none;
}

.copyright {
  padding: 15px 0;
}

.header .profile-dropdown-toggle:after {
  content: none;
}
.thumbnail-wrapper.circular {
  border: 1px #ccc solid;
}

.page-sidebar {
  background-color: #0b6181;
}
.page-sidebar a {
  color: #fff !important;
}
.page-sidebar .sidebar-header {
  background-color: #0b6181;
  border-bottom: 1px solid #0b6181;
  height: 100px;
}
.page-sidebar .sidebar-menu .menu-items li > a {
  width: 100%;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title {
  width: 80%;
}

.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  text-align: center
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: '';
  z-index: 1
}

.steps .step .step-icon-wrap::before {
  left: 0
}

.steps .step .step-icon-wrap::after {
  right: 0
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
  display: none
}

.steps .step:last-child .step-icon-wrap::after {
  display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #0b6181
}

.steps .step.completed .step-icon {
  border-color: #0b6181;
  background-color: #0b6181;
  color: #fff
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

.bg-faded, .bg-secondary {
  background-color: #f5f5f5 !important;
}

button.address {
  border-color: transparent;
  background-color: white;
  text-align: start;
  padding: 10px;
  z-index: 9999999;
}

button.address:hover {
  background-color: #fdfbfb;
}

button.address.package {
  padding: 0;
  border-color: transparent;
  background-color: white;
  text-align: start;
  z-index: 9999999;
}

button.address.package:hover {
  background-color: #fdfbfb;
}

.address-title  {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.06em;
  font-size: 10.5px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0px;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#div2{
  width: 30em;
	overflow-x: auto;
	white-space: nowrap;
}

#div2 {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 185px !important;
}

span.b {
  display: inline-block;
  width: 150px;
  height: 150px;
}

/* The container-radio */
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-top: 48px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 190px;
  /* width: 220px; */
}
/* The container-radio */
.container-radio.radio-label {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  margin-top: 0.5rem;
  padding-bottom: 0;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -8px;
  left: 88%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  /* background-color: rgb(255, 238, 238); */
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: rgb(213, 248, 209);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 90%;
    background: white;
}

.package-title {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(68, 68, 68);
  font-weight: bold;
  margin: 0 !important;
  margin-bottom: 5px !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.details-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  display: inline;
  color: rgb(68, 68, 68);
  font-weight: bold;
  margin-bottom: 5px !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.package-description {
  font-size: 0.6rem;
  color: rgb(170, 169, 169);
  margin: 0 !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: -10px !important;
}

.package-description.price {
  font-size: 0.8rem;
  color: #0b6181;
  font-weight: bold;
  margin: 0 !important;
  margin-bottom: 4px !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.package-description.rate {
  font-size: 0.8rem;
  color: rgb(170, 169, 169);
  margin: 0 !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: -10px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.sender-title {
  font-size: 13px;
}

.register-container {
  margin: 60px auto;
  height: auto;
}

.forgot-password-container {
  width: 450px;
  margin: auto;
  height: 100%;
}

.tracking-delivery-container {
  width: 1050px;
  margin: 60px auto;
  height: auto;
}


.bg-color-1 {
  background-color: #ccc0ae;
  color: #fff;
}

.bg-color-2 {
  background-color: #0b6181;
  color: #fff;
}

.bg-color-3 {
  background-color: #5489a2;
  color: #fff;
}

.breadcrumb > .breadcrumb-item.active {
  color: #196a87;
}

@media only screen and (max-width: 1095px) {
/*************** ADD TABLE ONLY CSS HERE  ***************/

}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
  .forgot-password-container {
    width: 100%;
    padding: 15px;
  }
}
