/*
* Override Pages default styles or create your own styles here
*/
@import url("https://fonts.googleapis.com/css?family=Archivo+Black:regular,regular|Archivo:regular,regular,700|Montserrat:regular,regular&display=swap&ver=3.9");
body, h1, h2, h3, h4, h5, h6, ins, cite, var, q, address, kbd, label, .btn, .badge, .form-control,
.datepicker thead tr .dow, .datepicker table tr td.day,
div.cs-skin-slide, .line-chart .nvd3 .nv-axis .nv-axisMaxMin text,
.social-card.share .card-header h5,
.social-card.share .card-header h6,
.social-card.share .card-description .via,
.social-card.share .card-footer .time,
.split-view .split-details .email-content-wrapper .email-content .email-content-header .sender .datetime,
.split-view .split-details .email-content-wrapper .email-content .email-content-header .subject,
.calendar .calendar-header .years .year,
.split-view .split-list .list-view-group-header,
.split-view .split-list .item .inline > *,
.split-view .split-list .item .subject,
.split-view .split-list .item .datetime,
.horizontal-app-menu .menu-bar ul li a,
.header .search-link,
.page-sidebar .sidebar-menu .menu-items > li > a,
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a,
.icon-thumbnail {
  color: #333;
  font-family: "Montserrat", "Archivo",  "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-size: .9em;
  font-weight: normal;
}
.form-control::-moz-placeholder { font-family: "Montserrat", "Archivo",  "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::-ms-input-placeholder { font-family: "Montserrat", "Archivo",  "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::-webkit-input-placeholder { font-family: "Montserrat", "Archivo",  "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }
.form-control::placeholder { font-family: "Montserrat", "Archivo",  "Inter UI", -apple-system, BlinkMacSystemFont, sans-serif !important; }

a:focus,
a:hover,
a:active,
.text-info {
  color: #196a87 !important;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: #196a87 !important;
  border: none !important;
  color: #fff;
  font-weight: bold;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #196a87;
}
.btn-primary .badge {
  color: #196a87;
}
.btn-outline-primary, .btn-outline-primary:focus {
  color: #196a87;
  border: 1px solid #196a87;
}
.btn-outline-primary.active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary.active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:hover,
.btn-outline-primary .show .dropdown-toggle.btn-outline-primary {
  border: 1px solid #196a87;
  color: #196a87;
}
.btn-outline-primary.hover:not(.active), .btn-outline-primary:hover:not(.active),
.btn-outline-primary .show .dropdown-toggle.btn-outline-primary {
  border: 1px solid #196a87;
  color: #196a87;
}
.dropdown-default.show > .btn-primary + .dropdown-menu:after {
  background-color: #196a87;
}
.progress-bar-primary {
  background-color: #196a87;
}
.progress-circle.progress-circle-primary .pie .half-circle {
  border-color: #196a87;
}
.nav-tabs-simple > li > a:after.nav-tabs-primary {
  background-color: #196a87;
}
.nav-tabs-fillup > li > a:after.nav-tabs-primary {
  background: none repeat scroll 0 0 #196a87;
  border: 1px solid #196a87;
}
.irs-wrapper.primary .irs-diapason {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-from,
.irs-wrapper.primary .irs-to,
.irs-wrapper.primary .irs-single {
  background: #196a87;
}

.irs-wrapper.primary .irs-slider.from:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-slider.to:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-slider.single:before {
  background-color: #196a87;
}

.irs-wrapper.primary .irs-from:after,
.irs-wrapper.primary .irs-to:after,
.irs-wrapper.primary .irs-single:after {
  border-top-color: #196a87;
}

.irs-wrapper.primary .irs-bar {
  background-color: #196a87;
}
.noUi-target.bg-primary .noUi-connect {
  background-color: #196a87;
}
.primary input[type="checkbox"]:checked + label:before, .primary input[type="checkbox"]:indeterminate + label:before {
  border-color: #196a87;
  background-color: #196a87;
}
.primary input[type="radio"]:checked + label:before {
  border-color: #196a87;
}
.form-check.switch input[type="checkbox"] + label:before {
  background-image: -webkit-linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
  background-image: -moz-linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
  background-image: linear-gradient(to right, #196a87 0%, #845ae0 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}
.input-group-text.primary {
  background-color: #196a87;
}

.form-group-default.disabled.focused {
  border: 1px solid #196a87;
}
.form-group-default.focused {
  border: 1px solid #196a87 !important;
}
.form-group-default label {
  font-weight: bold;
  color: #196a87 !important;
}
.form-group-default label.fade {
  opacity: 1;
}
.form-group-default.focused label {
  font-size: 10px;
}
.datepicker thead tr .next,
.datepicker thead tr .prev {
  color: #196a87;
}
.datepicker thead tr .next:before,
.datepicker thead tr .prev:before {
  color: #196a87;
}
.datepicker table tr td.active:before {
  background-color: #196a87;
}
.datepicker table tr td span.active {
  background-color: #196a87 !important;
}
.daterangepicker .calendar .prev,
.daterangepicker .calendar .next,
.daterangepicker .calendar th {
  color: #196a87;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #196a87;
  border-color: #196a87;
}
.select2-container--open .select2-selection {
  border: 1px solid #196a87 !important;
}
.line-chart[data-line-color="primary"] .nvd3 line.nv-guideline, .line-chart[data-line-color="primary"]
.nvd3 .nv-groups path.nv-line, .line-chart[data-line-color="primary"]
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  stroke: #196a87;
}
.line-chart[data-area-color="primary"] .nvd3 .nv-groups path.nv-area {
  fill: #196a87;
}
.line-chart[data-point-color="primary"] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill: #196a87;
}
.login-wrapper {
  background-color: #196a87;
  background: url(https://storage.googleapis.com/kepler-marketing/community_login_cover_c.jpg);
}
.timeline-point.primary {
  background-color: #196a87;
}
.b-primary {
  border-color: #196a87;
}
.margin-center {
  margin: 0 auto;
}

@media only screen and (max-width: 1095px) {
/*************** ADD TABLE ONLY CSS HERE  ***************/

}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/

}
